

.wrapper{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
}
.form-content {
    border-radius: 10px;
    background-color: #fff;
    width: 90%;
    max-width: 450px;
    padding: 0;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}
.form-footer{ 
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.custom-login-input{ 
    background-color: #eeeeee;
    padding: 15px 32px;
    display: inline-block;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
}
.btn-login{ 
    background-color: #61c784;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
.btn-login:hover{ 
    background-color: #58b679;
    cursor: pointer;
}

.custom-link{ 
    text-decoration: none;
    color: #000;
}
.custom-link:hover{ 
    color: #58b679;
}

.error-alert{ 
    background: rgba(224, 0, 0, 0.171);
    color: rgb(255, 0, 0);
    border-radius: 3px;
    padding: 8px;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 12px;
}